{% extends "govuk/layout.html" %}
{% load govuk %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% govuk "panel" panel %}
    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">This example does not take payment or send email. In a live service we would email your licence to you.</p>
    <p class="govuk-body"><a class="govuk-link" href="/new-application">Apply for another licence</a></p>
  </div>
</div>
{% endblock %}
